code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.boxcontainer {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(40%);
}